.todalavida {
	background: url('../images/todalavida-bg.jpg') center no-repeat;
	background-size: cover;

	.legal {
		width: 90%;
		max-width: 1150px;
		margin: 10px auto;
		font-size: $txt-s;
		text-align: center;
		order: 3;
		line-height: $txt-s;
	}

	.half {
		padding-bottom: 0;

		@include breakpoint(desktop) {
			width: 48%;
		}
	}

	.tag {
		margin-bottom: 20px;
		position: relative;	
		background: $color-grey;

		@include breakpoint(desktop) {
			margin-bottom: -10px;
			float: right;
		}

		&:hover {
			background: darken($color-grey, 15%);

			@include breakpoint(desktop) {
				margin-bottom: -20px;
			}
		}

		img {
			margin-top: 10px;
		}
	}
}

.half-first {
	@include breakpoint(desktop) {
		order: 1;
	}

	h1 {
		@include breakpoint(desktop) {
			margin-top: 90px;
		}
	}
}

.half-second {
	padding-top: 0;

	@include breakpoint(desktop) {
		order: 2;
	}

	.video {
		max-width: 460px;
		margin: 0 auto;

		@include breakpoint(desktop) {
			margin: 0;
		}
	}
}